.container {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-block-end: 0%;
    margin-block-start: 0%;
}

.banner{
    width: 79vw;
    height:35vh;
}


.buscar{
    width: 5%;
    position: relative;
    padding: 0% 4%; 
}
input {padding-left:130%;}/* controle do buscar não alteral*/


  label {display:block;}
  input {
    width: 75.4vh;
    height:8vh;
} 
  button {
    position: relative;   
    top: 0; 
    right: 0;
    /* posiciona o botão em relação ao container, mas
    como o campo está exatamente contido no container
    o posicionamento se dá também em relação ao campo */
}

button {
  position: absolute;   
  top: 0; /* alterado aqui */
  left: 0;
  color:#8FA819;
  width: 3.5vw;
  height: 8.1vh;
  padding: 0%;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav{
    background-color: #8FA819;
}


.menu li{
    float: left;
    padding-left: 6px;
    
}

li a {
    
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 1vw 2.2vh;
    border-bottom: 4px solid #FFCD04;
}

li a:hover {
    background-color: #FFCD04;
}


h3 {
    color: #8FA819;
    margin-left: 20px;
}


h4, h2 {
    color: #3F71B6;
    margin-bottom: 15px;
}


span {
    color: #3F71B6;
    font-size: large;
}

.paragrafos span .negrito {
    font-weight: bold;
    color: #000000;
}

.formulario {
    display: inline-grid;
}


.inserir {
    border-color: #8FA819;
    border-width: 1px;
    width: 225px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 50px;
    width: auto;
    text-align: center;
    background-color: #8FA819;
    color: #fdfdfd;
}

.fim {
    display: inline-flex;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.contact2{
    margin-bottom: 6%;
}

.imagemdireita{
    margin-left: 2%;
    float:right;
}
.imagemesquerda{
    float:left;
    margin: 0%;
}
.imagemesquerda img {
    padding-right: 5%;
}


/* CSS ABAIXO DA AKEMI */

.maior {
    width: 100%;
    display: flex;
}

.primeiroQuadro {
    width: 29%;
    display: block;
    margin-right: 4%;
}
.primeiroQuadro img{
    width: 100%;
}

.segundoQuadro {
    width: 66%;
    display:flex;
    flex-direction: column;
}

h1 {
    color: #8FA819;
}

span {
    color: #3F71B6;
    font-weight: bold;
    padding-left: 10px;
}

.contact li {
    list-style-type: none;
}

.contact {
    margin-left: 2%;
}
/* CSS ABAIXO DO MACIEL */


titulo .span {
    color: #3F71B6;
    font-weight: bold;
}

.subli {
    text-decoration: underline;
    background-color:#ffffff;
    list-style-type:circle;
}

p {
    margin: 0;
    margin-bottom: 20px;
    text-align: justify;
}


/*linha html*/

hr {
    width: 100%;
    border: 1px solid #8FA819;
}
