.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.menu ul li a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-bottom: 5px solid #FFCD04;
    padding-bottom: 14px;
    padding: 14px;
    font-size: 11px;
    text-align: center;
}

.menu ul li a:hover {
    background-color: #FFCD04;
    text-decoration: none;
    border-bottom: 5px solid #FFCD04;
    padding-bottom: 14px;
    padding-top: 24.5px;
    font-size: 11px;
}

.menu ul li {
    padding: 1px;
    display: inline;
    background-color: #8FA819;
}

.menu {
    background-color: #8FA819;
    padding-bottom: 1px;
    width: 460.5px;
    display: inline-block;
}




h3 {
    color: #8FA819;
    margin-left: 20px;
}

.contact {
    margin-left: 20px;
}

h4 {
    color: #3F71B6;
    margin-bottom: 15px;
}

span {
    color: #3F71B6;
    font-size: large;
}

.negrito {
    font-weight: bold;
}

.formulario {
    margin-left: 5px;
    display: inline-block;
}

.lupa {
    background-color: #cdd2d770;
    padding: 1vw 1vh;
}

.inserir {
    border-color: #000000;
    border-width: 1px;
    border-right: 1px;
    width: 300px;
    height: 48px;
}


footer {
    height: 50px;
    width: auto;
    text-align: center;
    background-color: #8FA819;
    color: #fdfdfd;
}

.fim {
    display: inline-flex;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.rodape {
    display: inline-flex;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}


/* CSS ABAIXO DA AKEMI */

body {
    margin: 0 auto;
    width: 70%;
    
}

.maior {
    width: 100%;
}

.primeiroQuadro {
    width: 29%;
    display: inline-grid;
    margin-right: 4%;
}

.segundoQuadro {
    width: 66%;
    display: inline-grid;
}

h1 {
    color: #8FA819;
}

span {
    color: #3F71B6;
    font-weight: bold;
}


/* CSS ABAIXO DO MACIEL */

.box1 {
    width: 29%;
    display: inline-grid;
    margin-right: 4%;
}

.box2 {
    width: 66%;
    display: inline-grid;
}

.titulo {
    color: #3F71B6;
    font-weight: bold;
}

.subli {
    text-decoration: underline
}

p {
    margin: 0;
    margin-bottom: 20px;
    text-align: justify;
}

/*linha html*/
hr {
    width: 100%;
    display: inline;
    border: 1px solid #8FA819;
}