.container {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    
}
label {display: block;}
input, button {padding: 10px;}
input {width: 50%;}

.buscar{
    width: 100%; /* define a largura do campo */ 
    position: relative;
    padding: 1% 0%; 
    width: 100%;
    height: 10%;
}
  label {display:block;}
  input {width: 100%;} /* define a largura do campo igual a largura do container */
  input,  button {padding: 10px;}
  button {
    position: relative;   
    top: 0; 
    right: 0;
    /* posiciona o botão em relação ao container, mas
    como o campo está exatamente contido no container
    o posicionamento se dá também em relação ao campo */
}

button {
  position: absolute;   
  top: 0; /* alterado aqui */
  left: 0;
  padding: 7% 5%; 
  max-width: 1100%;
  max-height: 1200%;
  color:#8FA819;
}
input {padding-left: 60px;} /* alterado aqui */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
nav{
    background-color: #8FA819;
}

li{
    float: left;
    padding-left: 15px;
    
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    border-bottom: 5px solid #FFCD04;
}

li a:hover {
    background-color: #FFCD04;
}
button a:hover {
    border-bottom: 5px solid #FFCD04;
}

h3 {
    color: #8FA819;
    margin-left: 20px;
}

.contact {
    margin-left: 20px;
}

h4 {
    color: #3F71B6;
    margin-bottom: 15px;
}

span {
    color: #3F71B6;
    font-size: large;
}

.negrito {
    font-weight: bold;
}

.formulario {
    display: inline-grid;
}


.inserir {
    border-color: #8FA819;
    border-width: 1px;
    width: 225px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 50px;
    width: auto;
    text-align: center;
    background-color: #8FA819;
    color: #fdfdfd;
}

.fim {
    display: inline-flex;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.rodape {
    display: inline-flex;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* CSS ABAIXO DA AKEMI */

body {
    margin: 0 auto;
    width: 50%;
}

.maior {
    width: 100%;
}

.primeiroQuadro {
    width: 29%;
    display: inline-grid;
    margin-right: 4%;
}

.segundoQuadro {
    width: 66%;
    display: inline-grid;
}

h1 {
    color: #8FA819;
}

span {
    color: #3F71B6;
    font-weight: bold;
}


/* CSS ABAIXO DO MACIEL */

.box1 {
    width: 30%;
    display: inline-grid;
    margin-right: 0%;
}

.box2 {
    width: 60%;
    display: inline-grid;
}

.titulo {
    color: #3F71B6;
    font-weight: bold;
}

.subli {
    text-decoration: underline;
    background-color:#ffffff;
    display:inline-block
}

p {
    margin: 0;
    margin-bottom: 20px;
    text-align: justify;
}


/*linha html*/

hr {
    width: 100%;
    display: inline;
    border: 1px solid #8FA819;
}
